{% extends '_layout.njk' %}

{% block content %}

<div class="columns">
  <div class="column">
    <h3 class="title is-4">Queues</h3>
    <table class="table table is-narrow table is-hoverable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
          <th>DLQ</th>
        </tr>
      </thead>
      <tbody>
      {% for queue in queues %}
        <tr>
          <td>{{ queue.name }}</td>
          <td>{{ queue.activeMessageCount }}</td>
          <td>
            {% if queue.deadLetterMessageCount > 0 %}
              <a href="#">{{ queue.deadLetterMessageCount }}</a>
            {% else %}
              {{ queue.deadLetterMessageCount }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="column">
    <h3 class="title is-4">Topics</h3>
    <table class="table table is-narrow table is-hoverable">
      {% for topic in topics %}
        <thead>
          <tr>
            <th>{{ topic.name }}</th>
            <th>Active</th>
            <th>DLQ</th>
          </tr>
        </thead>
        <tbody>
        {% for subscription in topic.subscriptions %}
          <tr>
            <td>{{ subscription.subscriptionName }}</td>
            <td>{{ subscription.activeMessageCount }}</td>
            <td>
              {% if subscription.deadLetterMessageCount > 0 %}
                <a href="#">{{ subscription.deadLetterMessageCount }}</a>
              {% else %}
                {{ subscription.deadLetterMessageCount }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
